<section class="about-main">
    <div class="about-image">
        <img src="../img/About-img.jpg" alt="About Page Image">
    </div>


    <ui-view class="about-inner-right">

    <section class="about-inner-intro">
        <h1>WE ARE A GROUP OF <em style="color:#12F0F0">TRAVEL DEVELOPER</em></h1>
        

        <!--You will need to add a ui-sref here that points the adventurers state-->
        
        <button><a href="www.google.co.th"> MEET THE ADVENTURERS </a></button>
        <p></p>
        <p>Test this Application</p>
        <p></p>
        <button><a href="www.google.co.th"> MEET THE CODE </a></button>
    </section>
    </ui-view>

</section>
