* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    background: #ccc;
    font-family: arial, san-serif;
    font-size: 1.2em;
    color: #666;
}

.box {
    width: 100%;
    border-radius: 3px;
}
.box--container {
    max-width: 640px;
    margin: 0 auto;
    padding: 15px;
}
.box--chat {
  background: #fff;
  padding: 15px;
  border: 1px solid #eee;
}


#chat-history {
    list-style: none;
    padding: 0 0 10px 0;
    overflow: auto;
    height: 250px;
}
.message {
    background: #eee;
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 5px;
    float: left;
    clear: both;
}
.message--me {
    background: #B3ED7A;
    float: right;
}
 
#chat-message {
    background: #f5f5f5;
    padding: 10px;
    border: 1px solid #d5d5d5;
}